:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}

body {
	font-family: system-ui, sans-serif;
	background: whitesmoke;
	min-height: 100vh;
}

.navigation {
	position: relative;
	white-space: nowrap;
	background: white;
	padding: var(--underline-height) 0;
	margin: 2em 0;
    box-shadow: 0 1em 2em rgba(black, .05);
    
    &__item {
        display: inline-block;
        z-index: 10;
        width: 20%;
        padding: 1em 0;
        text-align: center;
        cursor: pointer;
    }
}

.navigation_underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 20%;
	pointer-events: none;
	transition: transform var(--transition-duration) ease-in-out;
	background: #222;
	border-radius: .25em;
	height: calc(var(--underline-height) / 2);
    mix-blend-mode: initial;
        
	&:nth-child(1) {
		transition: calc(var(--transition-duration) * .8);
	}
	&:nth-child(2) {
		transition: calc(var(--transition-duration) * 1.2);
	}
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }